

mat-table {
    width: 100%;
    display: table;
    table-layout: fixed; 
}

.ancho-55 {width: 55px;}
.ancho-70 {width: 70px;}
.ancho-75 {width: 75px;}
.ancho-105 {width: 105px;}

td, th {
    text-align: center !important;
    vertical-align: middle !important;
    border-right: 1px inset rgb(40, 40, 40);
    font-size: small;
    padding: 0px 3px;
}

tr {
    height: 45px;  
}

select{
    background-color: transparent;
    text-align: center;
    border-radius: 0.5rem;
    padding: 2px;
    font-size: smaller;
}

select:focus{
    outline: 2px ridge rgba(0, 0, 0, 0.068);
}
select:disabled{
    appearance: inherit;
    -webkit-appearance: none;
    color: black;
    border: none;
}

.mat-sort-header-container {
    justify-content: center !important;
}

.mat-mdc-header-row{
    background-color:rgb(255, 255, 171);
    border-bottom: 5px solid rgb(40, 40, 40);
}

.container{
    place-items: center;
    width: 80%;
    min-width: 700px;
    margin: 15px auto;
    padding: 15px;
}

.tabla{
    border: 5px solid rgb(40, 40, 40);
    border-radius: 0.3rem;
}

.header{
    border-bottom: 3px solid rgb(77, 77, 77);
}
.resaltar td{
    border-top: 5px solid rgb(124, 124, 124) ;
}


.button{
    margin: 0px 5px;
}
.celdaListada{
    display:inline;
}

.contenedor{
    text-align: center;

}

@keyframes resaltarTextoColor {
    0% { color: black; font-weight: normal; }
    50% { color: blue; font-weight: bold;}
    99% { color: black; font-weight: normal;}
}

.fila-resaltada {
    animation: resaltarTextoColor 0.75s ease-in-out;
}

.columna-anio{
    background-color:rgb(255, 255, 171);
}