<h1>principal works!</h1>

<app-tabla
    [dataSource]="datosCurriculares">
</app-tabla>

<app-tabla
    [dataSource]="datosElectivas"
    (enviarMensaje)="buscarFilaEntreTablas($event)"
    (condicionCambio)="cambioCondicionElectivas()">
</app-tabla>
    
<p></p>
<p class="p-bottom">Horas electivas de materias no listadas: 
    <input 
    maxlength="2"
    type="number" 
    class="input-no-listado"
    [(ngModel)]="horasElectivasNoListadas"
    (input)="validarMaximo()">
</p>
<p></p>
<p class="p-bottom">Horas electivas necesarias: {{horasElectivasNecesarias}}</p>
<p class="p-bottom">Horas electivas cursadas: {{horasElectivasCursadas}}</p>
<p class="p-bottom">Horas electivas faltantes: {{horasElectivasFaltantes}}</p>
<div class="contenedor">
<button class="button"
    mat-flat-button
    color="primary"
    (click)="reiniciarPlan()">
    Reiniciar plan
</button>

<button class="button"
    mat-flat-button
    color="primary"
    (click)="guardarCambios()">
    Guardar cambios
</button>
</div>