.titulo{
    text-align: center;
    margin: 10px;
}
.button{
    margin: 0px 5px;
}

.contenedor{
    text-align: center;

}

.p-bottom{
    text-align: center;
}

.input-no-listado {
    width: 25px;
    background-color: transparent;
    text-align: center;
    padding: 2px;
    border: 1px solid transparent; /* agrega solo el inferior */
    border-bottom: 1px solid #dddddd;
    outline: none; /* opcional: evita el borde azul al enfocar */
    box-sizing: border-box; /* Asegura que padding y border no afecten el tamaño */
}

.input-no-listado:focus {
    outline: 2px ridge rgba(0, 0, 0, 0.068);
    border-radius: 0.5rem;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header{
    min-width: 350px;
    margin: auto;
}
.footer{
    min-width: 350px;
}
